{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'agregar_categoria.css' %}">
<div class="container">
    <div class="contenido">
        
        <h2>Agregar Categoria</h2>
        <form method="POST" action="{% url 'agregar_categoria' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-guardar">Agregar</button>
        </form>
        {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
    </div>
</div>
{% endblock content %}
