{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'editar_tipo_empleado.css' %}">

<div class="container">
    <div class="contenido">
        <h2>Editar Tipo de Empleado</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="acciones">
              <button type="submit" class="guardar">Guardar cambios</button>
              <a href="{% url 'listar_tipo_empleados' %}" class="Cancelar">Cancelar</a>
          </div>
      </form>
      
    </div>
    {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
