{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'editar_categoria.css' %}">

<div class="container">
    <div class="contenido">
        <h2>Editar Categoría</h2>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="acciones">
                <button type="submit" class="guardar">Guardar cambios</button>
                <a href="{% url 'listar_categorias' %}" class="Cancelar">Cancelar</a>
            </div>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif%}
</div>
{% endblock %}
